<div class="row">
	<div class="container">
		<h1>A/V Workspace</h1>
		<div class="span8">
			<h3>
				Today: <%= Date.current %>
			</h3>
			<div style="border: 1px solid black;">
				<ul>
					<% @today.each do |today| %>
						<li><%= link_to "#{today.room}", task_path(today) %></li>
					<% end %>
				</ul>
			</div>
		</div>

		<aside class="span3">
			<h3>
				<%= link_to "Create New Task", new_path, class: "btn btn-large btn-primary" %>
			</h3>
		</aside>
	</div>
</div>