<div class="row">
	<div class="container">
		<h1>A/V Workspace</h1>
		<div class="span8">
			<h3>
				Today: <%= Date.current %>
			</h3>
			<div style="border: 1px solid black;">
				<p>Today room: <%= @today if @today %></p>
				<p>Tomorrow room: <%= @tomorrow if @tomorrow %> </p>
			</div>
		</div>

		<aside class="span3">
			<h3>
				New Task
			</h3>
		</aside>
	</div>
</div>

